<%- include("layouts/head.ejs") %>
<%- include("layouts/navigation.ejs") %>

<form method="POST" action="/users">
  <input name="name" type="text" placeholder="Name" />
  <button type="submit">Add Users</button>
</form>

<%- include("layouts/endFile.ejs") %>